h1{
    color:royalblue;
}

h3,h2{
    color:goldenrod;
    text-align: center;
}

*{
    border:solid
}

.header{
    background-image: "img.png" ;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

